* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
img {
  width: 300px;
}
body{
  background-image: linear-gradient(to top, red , blue);
}

.col {
  height: 100vh !important;
}
.container-fluid{
  margin-top: 20px;


}
header{
  height: 100px;
}

h1{
  font-family: 'Permanent Marker', cursive;
  color: red;
  text-shadow: 2px 2px 2px black;
}
.typed{
  color: white;
  font-family: 'Play', sans-serif;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.formatos{
  padding: 30px;
}
.presentacion{
  color: black;
  
}
